spring:
  profiles:
    active: dev

---    
spring:
  profiles: dev    
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://192.168.178.241:5432/kopushdbdev
    username: kopushdbuser
    password: kopushdbuser123
  rabbitmq:
    host: 192.168.178.241
    port: 5672
    username: guest
    password: guest
base:
  file:
    client: /myfiles
    server: D:/nas/push
---    
# when deploy
spring:
  profiles: do-server    
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/kopushdb_real
    username: kopushuser_real
    password: K@SigNP@SH!!#
      # queue connection
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
base:
  file:
    client: /myfiles
    server: /home/kosignpush/push-file
---    
spring:
  profiles: local-server
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/kopushdbdev
    username: kopushdbuser
    password: kopushdbuser1234
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
base:
  file:
    client: /myfiles
    server: /home/lms/push-file
---    
spring:
  profiles: compose
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_SERVER}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    # url: jdbc:postgresql://206.81.15.135:5432/developer
    # username: developer
    # password: 123!@#
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: 5672
    username: guest
    password: guest
base:
  file:
    client: /myfiles
    server: /
---
spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
    property-naming-strategy: SNAKE_CASE

# queue configuration 
pusher:
  rabbitmq:
      queue: 
        fcm: pusher.queue.fcm
        apns: pusher.queue.apns
        topic: pusher.queue.topic
        apns-dev: pusher.queue.apns-dev
      routingKey: 
        fcm: pusher.queue.fcm
        apns: pusher.queue.apns
        topic: pusher.queue.topic
        apns-dev: pusher.queue.apns-dev
      exchange: pusher.direct.exchange

admin:
  name: admin
  password: adminhtl123!@#


