
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{layout}">

<body>
    <div class="content p-5  "  layout:fragment="content">
      <form action="/notifications/send/single" class="form-group container" method="post">
       <div class="form-group">
          <label  for="">App ID</label>
          <input  class="form-control" type="text" name="app_id">
       </div>
        <div class="form-group">
          <label for="">Message</label>
          <input   class="form-control" type="text" name="title" >
          <input class="form-control"  type="text" name="message">
        </div>
        <div class="form-group">
          <label   for="">Device</label>
          <select class="form-control" name="receiver_id" id="">
            <option  th:each="DEVICE : ${DEVICES}" th:value="${DEVICE.getDeviceId()}" th:text="${DEVICE.getDeviceId()}"></option>
          </select>
       </div>
        
        <button class="btn btn-primary" type="submit">Push</button>
     </form>
    </div>
    <div  layout:fragment="content-js">
      
    </div>
</body>
</html>