.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.container {
  width: 100%;
}

.main_navbar {
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.03);
}

.div-block {
  float: right;
}

.dropdown-toggle {
  margin-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  float: left;
}

.brand {
  margin-right: 71px;
  margin-left: 50px;
  float: left;
}

.text-block {
  float: left;
  font-family: 'DM Sans', sans-serif;
  line-height: 50px;
}

.div-block-2 {
  float: right;
}

.image {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  float: left;
  border-radius: 20px;
}

.dropdown {
  width: auto;
  height: 50px;
  margin-right: 20px;
  margin-left: 0px;
  background-color: transparent;
}

.dropdown-list {
  margin-top: -7px;
}

.dropdown-list.w--open {
  margin-top: 49px;
  margin-right: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 0px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.05);
}

.dropdown-link {
  padding-left: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.dropdown-link:hover {
  background-color: transparent;
  color: #0400ff;
}

.dropdown-link-2 {
  padding-left: 20px;
  font-family: 'DM Sans', sans-serif;
  color: #ff002b;
  font-weight: 700;
}

.dropdown-link-2:hover {
  background-color: transparent;
}

.text-block-2 {
  float: left;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
}

.main_container {
  width: 800px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'DM Sans', sans-serif;
  font-size: 37px;
}

.html-embed {
  margin-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: none;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
}

.table_wrapper {
  margin-top: 0px;
  padding: 10px;
  float: none;
  clear: right;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 5px;
  background-color: #fff;
}

.table_wrapper.center {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
}

.button {
  float: none;
  border-radius: 5px;
  background-color: #0400ff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.search-input {
  width: 300px;
  padding-left: 40px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.search {
  float: right;
}

.search-button {
  margin-left: 20px;
  border-radius: 5px;
  background-color: #0400ff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.image-2 {
  position: absolute;
  margin-top: 7px;
  margin-right: 0px;
  margin-left: -290px;
}

.section {
  position: absolute;
}

.field-label {
  float: left;
  font-family: 'DM Sans', sans-serif;
}

.select-field {
  display: block;
  float: left;
  font-family: 'DM Sans', sans-serif;
}

.def_dim_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.div-block-4 {
  position: absolute;
  left: 0%;
  top: 30%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  width: 390px;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px 220px;
  border-radius: 6px;
  background-color: #fff;
}

.submit-button {
  width: 140px;
  border-radius: 5px;
  background-color: #0400ff;
  font-family: 'DM Sans', sans-serif;
}

.button-2 {
  margin-left: 10px;
  border-radius: 5px;
  background-color: #f2f5ff;
  font-family: 'DM Sans', sans-serif;
  color: #000;
}

.heading-3 {
  font-family: 'DM Sans', sans-serif;
}

.field-label-2 {
  font-family: 'DM Sans', sans-serif;
}

.text-field {
  margin-bottom: 25px;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.def_menu-current {
  margin-right: 30px;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  line-height: 50px;
  text-decoration: none;
}

.def_menu {
  margin-right: 30px;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  line-height: 50px;
  text-decoration: none;
}

.def_menu.current {
  color: #0400ff;
  font-weight: 700;
}

.section_left {
  float: none;
}

.section_right {
  width: 100%;
  margin-left: 0px;
  float: left;
}

.field-label-3 {
  float: none;
  font-family: 'DM Sans', sans-serif;
}

.text-field-2 {
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.field-label-4 {
  margin-top: 20px;
  margin-bottom: 10px;
  clear: left;
  font-family: 'DM Sans', sans-serif;
}

.field-label-4.title {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 1px none #000;
  font-size: 23px;
}

.text-field-3 {
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.submit-button-2 {
  width: 100%;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #0400ff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.form {
  width: 100%;
  margin-left: 0px;
}

.div-block-5 {
  margin-top: 30px;
}

.apple {
  width: 150px;
  height: auto;
  padding-top: 30px;
  float: left;
  border: 1px solid #000;
  text-align: center;
}

.apple.select {
  width: 130px;
  border-color: #0400ff;
  border-radius: 7px;
  background-color: rgba(4, 0, 255, 0.05);
}

.android {
  width: 150px;
  height: auto;
  margin-left: 20px;
  padding-top: 30px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 5px;
  text-align: center;
}

.webpush {
  width: 150px;
  height: auto;
  margin-left: 20px;
  padding-top: 30px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 5px;
  text-align: center;
}

.heading-4 {
  margin-top: 200px;
  margin-bottom: 0px;
  float: none;
  clear: left;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

.email {
  width: 150px;
  height: auto;
  padding-top: 30px;
  float: left;
  border: 1px solid #000;
  text-align: center;
}

.app {
  width: 150px;
  height: auto;
  margin-left: 20px;
  padding-top: 30px;
  float: left;
  border: 1px solid #000;
  text-align: center;
}

.app.windows {
  width: 130px;
  border-color: #d8d8d8;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}

.app.windows:hover {
  border-color: #868686;
}

.app.email {
  width: 130px;
  margin-left: 0px;
  border-color: #d8d8d8;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}

.app.email:hover {
  border-color: #868686;
}

.app.android {
  width: 130px;
  border-color: #d8d8d8;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}

.app.android:hover {
  border-color: #868686;
}

.app.webpush {
  width: 130px;
  border-color: #d8d8d8;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}

.app.webpush:hover {
  border-color: #868686;
}

.app.macos {
  width: 130px;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}

.app.macos:hover {
  border-color: #868686;
}

.macos {
  width: 150px;
  height: auto;
  margin-left: 20px;
  padding-top: 30px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 5px;
  text-align: center;
}

.text-block-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
}

.text-block-3.focus {
  color: #0400ff;
  font-weight: 700;
}

.image-3 {
  width: 48px;
  height: 48px;
}

.image-4 {
  width: 48px;
  height: 48px;
}

.image-5 {
  width: 48px;
  height: 48px;
}

.image-6 {
  width: 48px;
  height: 48px;
}

.image-7 {
  width: 48px;
  height: 48px;
}

.image-8 {
  width: 48px;
  height: 48px;
}

.html-embed-2 {
  font-family: 'DM Sans', sans-serif;
}

.form-block {
  font-family: 'DM Sans', sans-serif;
}

.text-field-4 {
  width: 143px;
  margin-right: 0px;
  padding-right: 0px;
  float: left;
  border-radius: 5px;
}

.text-field-5 {
  float: left;
  border-radius: 5px;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-4 {
  margin-bottom: 10px;
}

.text-block-5 {
  margin-bottom: 10px;
}

.text-block-6 {
  margin-bottom: 10px;
  opacity: 0;
}

.header_combo_setting {
  width: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 30px 20px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 7px;
  background-color: #fff;
}

.text-field-6 {
  width: 160px;
  margin-right: 10px;
  float: left;
}

.form-block-2 {
  font-family: 'DM Sans', sans-serif;
}

.text-field-7 {
  width: auto;
}

.text-block-7 {
  margin-bottom: 10px;
  opacity: 0;
  font-weight: 700;
}

.submit-button-3 {
  width: 100%;
  margin-top: 0px;
  border-radius: 5px;
  background-color: #0400ff;
  font-weight: 700;
}

.field-label-5 {
  margin-bottom: 10px;
  border-radius: 0px;
  opacity: 0;
  color: #868686;
}

.text-block-8 {
  margin-bottom: 15px;
  font-size: 18px;
}

.text-block-9 {
  font-size: 18px;
}

.text-block-10 {
  font-size: 18px;
}

.text-block-11 {
  font-size: 18px;
}

.text-block-12 {
  font-size: 18px;
}

.text-block-13 {
  font-size: 18px;
}

.columns {
  border-bottom: 1px none #fff;
}

.field-label-6 {
  color: #868686;
}

.field-label-7 {
  color: #868686;
}

.field-label-8 {
  color: #868686;
}

.field-label-9 {
  color: #868686;
}

.field-label-10 {
  color: #868686;
}

.select-field-2 {
  padding-right: 0px;
  border-radius: 5px;
  background-color: #fff;
}

.text-field-8 {
  border-radius: 5px;
}

.text-field-9 {
  border-radius: 5px;
}

.text-field-10 {
  border-radius: 5px;
}

.text-field-11 {
  border-radius: 5px;
}

.text-field-12 {
  border-radius: 5px;
}

.field-label-11 {
  opacity: 0;
}

.field-label-12 {
  opacity: 0;
}

.icon {
  margin-top: 0px;
  line-height: 50px;
}

.image-9 {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-right: 11px;
  margin-left: 10px;
  float: left;
}

.dim_bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_module {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 460px;
  height: 500px;
  margin: auto;
  padding: 30px 30px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.popup_module.popapp {
  height: 340px;
}

.popup_module.platform {
  height: 640px;
  padding-bottom: 20px;
}

.popup_module.platform.android {
  height: 420px;
  text-align: left;
}

.popup_module.platform.web {
  height: 380px;
}

.popup_module.platform.history_detail {
  height: 530px;
}

.form-block-3 {
  font-family: 'DM Sans', sans-serif;
}

.text-field-13 {
  width: 100%;
  border-radius: 5px;
}

.submit-button-4 {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #0400ff;
  font-weight: 700;
}

.button-3 {
  display: block;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.button-3:hover {
  background-color: #d8d8d8;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 20px;
  float: none;
  font-size: 31px;
  line-height: 39px;
}

.button-4 {
  float: left;
  border-radius: 5px;
  background-color: #e6e6ff;
  color: #0400ff;
  font-weight: 700;
}

.text-field-14 {
  width: 280px;
  margin-left: 10px;
  float: left;
  border-radius: 5px;
  background-color: #f2f5ff;
}

.text-block-14 {
  margin-bottom: 20px;
  clear: left;
  font-weight: 700;
}

.image-10 {
  margin-bottom: 10px;
  float: none;
}

.field-label-13 {
  font-weight: 400;
}

.column-2 {
  padding-left: 0px;
}

.image-11 {
  width: 32px;
  height: 32px;
  margin-top: 9px;
  margin-right: 10px;
  float: left;
}

.form-block-4 {
  margin-right: 50px;
  float: left;
  font-family: 'DM Sans', sans-serif;
  text-align: left;
}

.select-field-3 {
  width: 80px;
  border-radius: 5px;
  background-color: #fff;
}

.main_pagination {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: auto;
  margin: 50px auto 70px;
}

.field-label-14 {
  opacity: 0;
}

.link-block {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: #0400ff;
}

.text-block-15 {
  color: #fff;
  line-height: 38px;
  text-align: center;
}

.page {
  color: #0400ff;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.page.def {
  border-radius: 5px;
}

.page.focus {
  color: #fff;
}

.pgn.focus {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: #0400ff;
}

.pgn.def {
  width: 38px;
  height: 38px;
  background-color: #d8d8d8;
}

.pagination_num {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  float: left;
  border-radius: 5px;
  background-color: #e6e6ff;
  text-decoration: none;
}

.pagination_num.focus {
  background-color: #0400ff;
  color: #fff;
}

.form-2 {
  margin-left: auto;
  text-align: center;
}

.div-block-6 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-field-15 {
  border-radius: 5px;
}

.text-field-16 {
  border-radius: 5px;
}

.text-field-17 {
  border-radius: 5px;
}

.text-field-18 {
  border-radius: 5px;
}

.text-field-19 {
  border-radius: 5px;
}

.text-field-20 {
  border-radius: 5px;
}

.column-3 {
  padding-left: 0px;
}

.column-4 {
  padding-right: 0px;
}

.column-5 {
  padding-right: 0px;
}

.columns-2 {
  margin-top: 0px;
}

.column-6 {
  padding-left: 0px;
}

.column-7 {
  padding-right: 0px;
}

.image-12 {
  margin-bottom: 50px;
}

.column-8 {
  padding-right: 0px;
}

.button-5 {
  width: 100%;
  border-radius: 5px;
  background-color: #0400ff;
  font-weight: 700;
  text-align: center;
}

.image-13 {
  width: 48px;
  height: 48px;
  margin-top: 50px;
  margin-right: 20px;
  float: none;
}

.text-field-21 {
  border-radius: 5px;
}

.text-field-22 {
  border-radius: 5px;
}

.text-field-23 {
  border-radius: 5px;
}

.text-field-24 {
  border-radius: 5px;
}

.text-field-25 {
  border-radius: 5px;
}

.text-field-26 {
  border-radius: 5px;
}

.body {
  background-color: #f5f5f5;
}

.body-2 {
  background-color: #f5f5f5;
}

.body-3 {
  background-color: #f5f5f5;
}

.body-4 {
  background-color: #f5f5f5;
}

.body-5 {
  background-color: #f5f5f5;
}

.body-6 {
  background-color: #f5f5f5;
}

.div-block-7 {
  width: 50%;
  height: 100vh;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  float: left;
}

.div-block-8 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 60%;
  height: 100vh;
  float: left;
  background-image: url('../images/Mask-Group-1.svg');
  background-position: 0% 50%;
  background-size: cover;
}

.body-7 {
  font-family: 'DM Sans', sans-serif;
}

.columns-3 {
  margin-top: 30px;
}

.text-block-16 {
  text-align: right;
}

.column-9 {
  padding-left: 0px;
}

.link {
  font-weight: 700;
  text-decoration: none;
}

.link-2 {
  font-weight: 700;
  text-decoration: none;
}

.column-10 {
  padding-right: 0px;
}

.div-block-9 {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.text-span {
  font-size: 13px;
}

.heading-6 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.image-14 {
  float: none;
  text-align: center;
}

.image-15 {
  width: 24px;
  height: 24px;
  margin-top: -3px;
  margin-right: 10px;
  float: left;
}

.field-label-15 {
  margin-bottom: 10px;
}

.field-label-16 {
  margin-bottom: 10px;
}

.field-label-17 {
  margin-bottom: 10px;
}

.field-label-18 {
  margin-bottom: 10px;
  opacity: 1;
}

.field-label-19 {
  margin-bottom: 10px;
}

.columns-4 {
  margin-bottom: 15px;
}

.field-label-20 {
  margin-bottom: 10px;
  opacity: 0;
}

.heading-7 {
  margin-top: 0px;
  padding-left: 33px;
  color: #0400ff;
  font-size: 18px;
  line-height: 21px;
}

.image-16 {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}

