  <!--header-->
  <div class="header">
    <div class="header_inner">
        <!--logo-->
        <div class="logo">
            <h1><a href="/home"><img src="/pusher/img/cmd/logo_kosign.png" alt="KOSIGN Push"></a></h1>
        </div>
        <!--//logo-->
        <!-- push search -->
        <div class="push_search">
            <div class="search_box">
                <input type="text" placeholder="Search" value="">
            </div>
        </div>
        <!-- //push search -->
        <!-- header_control -->
        <div class="header_control cboth">
            <!--langauge-->
            <div class="lang_opt">
                <a href="#none" class="select_control">English</a>
                <!-- langauge layer-->
                <ul style="display:none" class="layer">
                    <li class="kh"><a href="#none">ខ្មែរ</a></li>
                    <li class="kr"><a href="#none">한국어</a></li>
                    <li class="en"><a href="#none">English</a></li>
                </ul>
                <!-- //langauge layer-->
            </div>
            <!-- //langauge-->

            <!-- profile -->
            <div class="pro_info">
                <a href="#none" class="select_control"><img src="/pusher/img/cmd/user_photo.png" alt=""></a>
                <!-- profile layer-->
                <ul class="layer" style="display:none">
                    <li class="ico_setting"><a href="#none">Setting</a></li>
                    <li class="ico_logout"><a href="/logout">Logout</a></li>
                </ul>
                <!-- //profile layer-->
            </div>
            <!-- //profile -->
        </div>
        <!-- //header_control -->
    </div>
</div>
<!--// header-->