<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{layout}">

<body>
    <div class="content body-7"  layout:fragment="content">
        <div class="w-clearfix">
            <div class="div-block-7">
              <div class="div-block-9"><img src="/images/Group-321.svg" width="64" alt="" class="image-14">
                <h1 class="heading-6">KOSIGN Push <span class="text-span">v. 1.0</span></h1>
                <div class="form-block-2 w-form">
                  <span th:text="${MSG}"></span>
                  <form id="email-form" name="email-form" data-name="Email Form" action="signin" method="post">
                      <label for="name">User ID</label>
                      <input type="text" class="text-field-12 w-input" maxlength="256" name="username" data-name="Field 2" id="field-2" required="">
                      <label for="name">Password</label>
                      <input type="password" class="text-field-11 w-input" maxlength="256" name="password" data-name="Field 2" id="field-2" required=""><label class="w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="w-form-label">Stay Logged In</span></label><input type="submit" value="Log In" data-wait="Please wait..." class="submit-button-3 w-button">
                    <div class="columns-3 w-row">
                      <div class="column-9 w-col w-col-5"><a href="#" class="link">Forgot Password?</a></div>
                      <div class="column-10 w-col w-col-7">
                        <div class="text-block-16">Don&#x27;t have an account? <a href="#" class="link-2">Sign Up</a></div>
                      </div>
                    </div>
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-8"></div>
          </div>
    </div>
    <div  layout:fragment="content-js">
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5efffe8d1f34ac10061abdcc" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="js/webflow.js" type="text/javascript"></script>
    </div>
</body>
</html>
